.product-section{
  margin: 5rem 0;
}
.product-prev{
  display: grid;
  gap: 1rem;
  grid-template-columns: 100%;
}
.product-prev-focus{
  grid-row: 1/5;
  width: 100%;
}
.product-next-prev{
  height: 100%;
  padding: 5px;
}

.p-old-price{
  text-decoration: line-through;
  color: var(--grey);
}
.btn-add-cart{
  width: unset;
  padding: 0 25px;
  font-weight: 400;
}
.product-option-img{
  width: 37px;
  height: 37px;
}

@media (min-width: 768px) {
  .product-prev{
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .product-prev{
    grid-template-columns: auto auto !important;
    grid-template-rows: 25px !important;
  }

  .product-next-prev{
    height: 100%;
    padding: 10px;
  }
}

@media (min-width: 1200px) {
  .product-prev-focus{
    width: 100%;
  }
  .product-next-prev{
    width: 100px;
  }
} 