.c-item-bg {
    /* background-color: #cccccc; */
    background: url('../../../assets/img/blog-img/blog-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    /* height: 400px; */
}

.c-item-info {
    background-color: var(--secondary-color);
    margin: auto;
    border-radius: 6px;
    height: 310px;
    right: 15px;
    top: 0;
    bottom: 0;
    padding: 0 25px !important;
}

.c-item-date {
    background-color: var(--theme-color);
    color: white;
    padding: 11px;
    display: inline-block;
    text-align: center;

}

.c-item-date-day {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0;
}

.c-item-desc {
    margin-top: 25px;
    font-weight: 500;
    line-height: 26px;
}

.c-item-author {
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.c-item-author span {
    text-decoration: underline;
}

.c-item-tags {
    margin-top: 20px;
}

.c-item-btn {
    background-color: white !important;
    border-radius: 24px !important;
    color: var(--theme-color) !important;
    padding: 5px 20px !important;
    position: absolute;
    bottom: 1.3rem;
}


@media only screen and (max-width: 990px) and (min-width: 640px) {
    .c-item-author {
        margin-top: -20px;
    }
    
    .c-item-tags {
        margin-top: 0px;
    }
}

@media (max-width: 768px) {

    /* .swiper-slide {
       
    } */

   .latest-blog {
       text-align: center !important;
       margin-left: -18px;
       
       
   }

   .c-item-btn {
       position: static !important;
       margin-top: 1rem;
   }

   .c-item-bg {
       display: none;
   }

   .c-item-info {
       height: 280px !important;
       max-width: 280px !important;
       position: static !important;
       
   }

   .c-item-tags {
       margin: auto !important;
       text-align: center !important;
   }
}

@media only screen and (max-width: 334px)  {
    .c-item-author {
        margin-top: -20px;
    }
}

@media only screen and (max-width: 280px)  {
    .c-item-btn {
        bottom: 2px;
    }
}

@media (max-width: 576px) {
    .latest-blog {
        text-align: center;
        margin-left: -18px;
        
    }

   .c-item-btn {
       position: static !important;
       margin-top: 1rem;
   }

    .c-item-bg {
        display: none;
    }

    .c-item-info {
      height: 295px !important;
      position: static !important;
    }
}