.order-header {
  min-height: 80px;
  border: 2px solid var(--secondary-color);
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--theme-color);
  border-radius: 6px 6px 0 0;
}
.order-content {
  border: 2px dashed var(--secondary-color);
  border-top: none;
  border-radius: 0 0 6px 6px;
  padding: 25px;
}

.invalid-checkout {
  color: #dc3545;
  display: block;
  margin: 0 !important;
  padding: 0.5rem 0;
}

.checkout-payment {
  background-color: var(--secondary-color);
  color: #fff;
  margin: .6rem 0 1rem 0;
  font-size: 0.9rem;
  line-height: 1.6;
  position: relative;
}

.checkout-payment::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid var(--secondary-color);
  top: -8px;
  left: 25px;
  z-index: -1;
}

.checkout-payment .card-body {
  padding: 0.8rem;
}

@media (max-width: 768px) {
  .returning-customer {
    text-align: center;
  }
}
